Repository goodprofy/stellar-burgers: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --fix

.lintstagedrc:

{
  "*.{css,scss}": ["prettier --write"],
  "*.{md,html,json}": ["prettier --write"],
  "*.{tsx,ts,jsx,js}": ["eslint . --fix"]
}

[sprint 1] add clsx & @babel/runtime & core-js
  package-lock.json
  package.json
Due: prettier --write

Remove vite template
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
Due: prettier --write, eslint . --fix

[eslint] add @typescript-eslint/consistent-type-imports
  .eslintrc.cjs
Due: none

Add types
  package-lock.json
  package.json
Due: prettier --write

Add alias paths
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint . --fix

Fix simple-import-sort
  .eslintrc.cjs
Due: none

Add re-export from ya.praktikum
  src/shared/ui/index.ts
Due: eslint . --fix

Create navlink
  src/shared/ui/nav-link/index.ts
  src/shared/ui/nav-link/nav-link.module.css
  src/shared/ui/nav-link/nav-link.ui.tsx
Due: prettier --write, eslint . --fix

Create tabs
  src/shared/ui/tabs/index.ts
  src/shared/ui/tabs/lib/tabs.utils.ts
  src/shared/ui/tabs/model/tabs.types.ts
  src/shared/ui/tabs/ui/tabs.module.css
  src/shared/ui/tabs/ui/tabs.ui.tsx
Due: prettier --write, eslint . --fix

Create AppHeader
  src/widgets/app-header/index.ts
  src/widgets/app-header/ui/app-header.module.css
  src/widgets/app-header/ui/app-header.tsx
Due: prettier --write, eslint . --fix

Mode NavLink
  src/shared/ui/nav-link/index.ts
  src/shared/ui/nav-link/ui/nav-link.module.css
  src/shared/ui/nav-link/ui/nav-link.ui.tsx
Due: prettier --write, eslint . --fix

Add debounce
  src/shared/lib/utils/debounce.util.ts
Due: eslint . --fix

Add noop
  src/shared/lib/utils/noop.util.ts
Due: eslint . --fix

Add Container
  src/shared/ui/container/index.ts
  src/shared/ui/container/ui/container.module.css
  src/shared/ui/container/ui/container.ui.tsx
Due: prettier --write, eslint . --fix

Add feature ButtonPlaceOrder
  src/feature/button-place-order/index.ts
  src/feature/button-place-order/ui/button-place-order.ui.tsx
Due: eslint . --fix

Add BurgerIngredientEntity
  src/entities/burger-ingredient/api/burger-ingredients.data.ts
  src/entities/burger-ingredient/index.ts
  src/entities/burger-ingredient/model/burger-ingredient.model.ts
  src/entities/burger-ingredient/ui/burger-ingredient/burger-ingredient.module.css
  src/entities/burger-ingredient/ui/burger-ingredient/burger-ingredient.ui.tsx
  src/entities/burger-ingredient/ui/burger-ingredients/burger-ingredients.module.css
  src/entities/burger-ingredient/ui/burger-ingredients/burger-ingredients.ui.tsx
  src/entities/burger-ingredient/ui/burger-ingredients/index.ts
Due: prettier --write, eslint . --fix

Add BurgerConstructor
  src/widgets/burger-constructor/index.ts
  src/widgets/burger-constructor/ui/burger-constructor.module.css
  src/widgets/burger-constructor/ui/burger-constructor.ui.tsx
Due: prettier --write, eslint . --fix

Add public api
  src/pages/index-page/ui/index-page.module.css
  src/pages/index-page/ui/index-page.ui.tsx
  src/pages/index.ts
  src/shared/lib/utils/index.ts
  src/widgets/index.ts
Due: prettier --write, eslint . --fix

Add App
  src/app/index.ts
  src/app/ui/app.ui.tsx
  src/main.tsx
  src/styles.css
Due: prettier --write, eslint . --fix

Add css util
  src/styles.css
Due: prettier --write

Add modal with provider
  src/app/providers/index.ts
  src/app/providers/modal.provider.tsx
  src/app/providers/providers.tsx
  src/app/ui/app.ui.tsx
  src/shared/lib/hooks/index.ts
  src/shared/lib/hooks/useKeydown.hook.ts
  src/shared/ui/index.ts
  src/shared/ui/overlay/index.ts
  src/shared/ui/overlay/model/overlay.types.ts
  src/shared/ui/overlay/ui/overlay.module.css
  src/shared/ui/overlay/ui/overlay.ui.tsx
  src/widgets/modal/index.ts
  src/widgets/modal/model/modal.context.tsx
  src/widgets/modal/model/modal.provider.tsx
  src/widgets/modal/model/modal.types.ts
  src/widgets/modal/ui/modal.module.css
  src/widgets/modal/ui/modal.ui.tsx
Due: prettier --write, eslint . --fix

Add order view
  src/entities/order/index.ts
  src/entities/order/model/order.types.ts
  src/entities/order/ui/order-details.module.css
  src/entities/order/ui/order-details.ui.tsx
  src/feature/button-place-order/ui/button-place-order.ui.tsx
Due: prettier --write, eslint . --fix

Add ingredient view
  src/entities/burger-ingredient/index.ts
  src/entities/burger-ingredient/model/burger-ingredient.model.ts
  src/entities/burger-ingredient/model/ingredient-details.types.ts
  src/entities/burger-ingredient/ui/burger-ingredient/burger-ingredient.ui.tsx
  src/entities/burger-ingredient/ui/burger-ingredients/index.ts
  src/entities/burger-ingredient/ui/ingredient-details/ingredient-details.module.css
  src/entities/burger-ingredient/ui/ingredient-details/ingredient-details.ui.tsx
  src/pages/index-page/ui/index-page.ui.tsx
  src/shared/assets/images/done.svg
  src/widgets/burger-ingredients/index.ts
  src/widgets/burger-ingredients/model/burger-ingredients.types.ts
  src/widgets/burger-ingredients/ui/burger-ingredients.module.css
  src/widgets/burger-ingredients/ui/burger-ingredients.ui.tsx
Due: prettier --write, eslint . --fix

Add ingredient fetch
  src/entities/burger-ingredient/api/burger-ingredients.api.ts
  src/entities/burger-ingredient/api/burger-ingredients.data.ts
  src/entities/burger-ingredient/hooks/use-ingredients.hook.ts
  src/entities/burger-ingredient/index.ts
  src/pages/index-page/ui/index-page.ui.tsx
  src/shared/config/api.ts
  src/shared/lib/utils/index.ts
  src/shared/lib/utils/log-error.ts
Due: eslint . --fix

Add ingredients to BurgerConstructor
  src/widgets/burger-constructor/ui/burger-constructor.ui.tsx
Due: eslint . --fix

Add ingredients to BurgerIngredients
  src/widgets/burger-ingredients/ui/burger-ingredients.ui.tsx
Due: eslint . --fix

Add modals container
  index.html
  src/widgets/modal/ui/modal.ui.tsx
Due: prettier --write, eslint . --fix
